# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
bin/*
package-lock.json
public/contracts/*
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/index.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/index.js
.next/static/development/_buildManifest.js
.next/static/development/_middlewareManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/511e3d38293822b9.webpack.hot-update.json
.next/static/webpack/eb30d75502f6f8f4.webpack.hot-update.json
.next/static/webpack/webpack.511e3d38293822b9.hot-update.js
.next/static/webpack/webpack.eb30d75502f6f8f4.hot-update.js
.next/static/webpack/pages/index.511e3d38293822b9.hot-update.js
.next/cache/webpack/client-development/2.pack
.next/server/_error.js
.next/static/chunks/_error.js
.next/static/webpack/5ceeec9ee28b4897.webpack.hot-update.json
.next/static/webpack/31a7d21c4591d75c.webpack.hot-update.json
.next/static/webpack/60f4f50ccfad6216.webpack.hot-update.json
.next/static/webpack/194d29e96ca037ba.webpack.hot-update.json
.next/static/webpack/715b35a4a3827e5b.webpack.hot-update.json
.next/static/webpack/7150fe29f9320ff2.webpack.hot-update.json
.next/static/webpack/webpack.5ceeec9ee28b4897.hot-update.js
.next/static/webpack/webpack.31a7d21c4591d75c.hot-update.js
.next/static/webpack/webpack.60f4f50ccfad6216.hot-update.js
.next/static/webpack/webpack.194d29e96ca037ba.hot-update.js
.next/static/webpack/webpack.715b35a4a3827e5b.hot-update.js
.next/static/webpack/webpack.7150fe29f9320ff2.hot-update.js
.next/static/webpack/pages/_app.715b35a4a3827e5b.hot-update.js
.next/static/webpack/pages/index.31a7d21c4591d75c.hot-update.js
.next/static/webpack/pages/index.7150fe29f9320ff2.hot-update.js
.next/cache/webpack/client-development/3.pack
